{{define "title"}}Home{{end}}
{{define "main"}}
<!--<h2>Latest Snippets</h2>-->
<a href="https://www.reddit.com/api/v1/authorize?client_id={{.ClientID}}&response_type={{.ResponseType}}&
state={{.State}}&redirect_uri={{.RedirectURI}}&duration={{.Duration}}&scope={{.Scope}}">Login with Reddit</a>
<p>There's nothing to see here yet!</p>
{{end}}